.codigo {
    position: relative;
    left: 250px;
    bottom: 60px;
    font-size: 18px;
}

#getElementById {
    position: relative;
    font-size: 24px;
    top: 80px;
}

.codigoexercicio {
    position: relative;
    left: 370px;
    bottom: 65px;
}

h4 {
    font-size: 24px;
}

.destaque {
    color: red;
    font-size: 14px;
}

#exercicio2 {
    bottom: 205px;
}

#exercicio3 {
    left: 480px;
    bottom: 300px;
}

#codigo3 {
    left: 370px;
    bottom: 280px;
}

#exercicio4 {
    bottom: 110px;
}

#codigo4 {
    bottom: 130px;
}

#conteudo {
    bottom: 300px;
    color: blue;
}

.paragrafo {
    font-weight: Bold;
}

#resultadocalculo {
    font-weight: bold;
}